Avista.ESB/Schemas/MessageArchive_dbo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns4="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/Types/Tables/dbo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/Types/Tables/dbo" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">Table.dbo</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MessageId" nillable="true" type="ns4:guid" />
      <xs:element minOccurs="0" maxOccurs="1" name="InterchangeId" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="36" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MessageType" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ActivityId" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="36" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Tag" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="InsertedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExpiryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ArchiveTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SourceSystemId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="TargetSystemId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="250" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="ns3:Message" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" type="ns3:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="ns3:ArrayOfMessage" />
  <xs:complexType name="MessageProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MessageId" nillable="true" type="ns4:guid" />
      <xs:element minOccurs="0" maxOccurs="1" name="PropertyIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Namespace" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageProperty" nillable="true" type="ns3:MessageProperty" />
  <xs:complexType name="ArrayOfMessageProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageProperty" type="ns3:MessageProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageProperty" nillable="true" type="ns3:ArrayOfMessageProperty" />
  <xs:complexType name="Part">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MessageId" nillable="true" type="ns4:guid" />
      <xs:element minOccurs="0" maxOccurs="1" name="PartId" nillable="true" type="ns4:guid" />
      <xs:element minOccurs="0" maxOccurs="1" name="PartName" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PartIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContentType" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CharSet" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TextData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ImageData" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Part" nillable="true" type="ns3:Part" />
  <xs:complexType name="ArrayOfPart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Part" type="ns3:Part" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPart" nillable="true" type="ns3:ArrayOfPart" />
  <xs:complexType name="PartProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PartId" nillable="true" type="ns4:guid" />
      <xs:element minOccurs="0" maxOccurs="1" name="PropertyIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Namespace" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartProperty" nillable="true" type="ns3:PartProperty" />
  <xs:complexType name="ArrayOfPartProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartProperty" type="ns3:PartProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartProperty" nillable="true" type="ns3:ArrayOfPartProperty" />
</xs:schema>